{{#each this}}
<a href="{{id}}" class="movie-card link">    
    <img class="movie-card_img" src="{{poster_link}}" 
        alt="{{title}}" loading="lazy" />
    <div class="movie-card_info">
        <p class="movie_title">
            {{original_title}}
        </p>
        <div class="movie_text">
            <p class="movie_genre">
                {{genres}}
            </p>
            <p class="movie-date">
                {{date}}
            </p>
        </div>        
    </div>    
</a>
{{/each}}